<div class="container mt-5">
    <main role="main">
        <div class="row">
            <div class="col">
                <h1>Orden</h1>
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Orden</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each order}}
                                <tr>
                                    <td>{{this._id}}</td>
                                    <td>{{this.order}}</td>
                                    <td>{{this.total}}</td>
                                    <td>
                                        <a href="/order/{{this._id}}" class="btn btn-primary">Actualizar</a>
                                        <a href="/order/delete/{{this._id}}" class="btn btn-danger">Eliminar</a>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>


