<style>
  img.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 50px;
    width: 50px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
</style>

<div class="row mt-5">
  <a href="/notes">Regresar</a>
  <div class="col-md-8 offset-2">
    <div class="card-header text-center">
     Historial de Compras
    </div>
    {{#each orders }}
    <div class="card-body">
      Unidades: {{this.cart.totalQty}}
      <ul class="list-group">
        {{#each this.items }}
        <li class="list-group-item">
          <img src="{{this.item.imgURL}}" class="avatar" >
          {{!-- <img src="{{this.item.imgURL}}" class="img-fluid zoom img-thumbnail" style="height: 200px;"> --}}
          {{ this.item.title}} | Precio:
          <span class="bagde bagde-primary pill font-weight-bold  ml-auto">
            {{ this.item.precio }}
          </span> 
         
        </li>
        {{/each}}
        Fecha: {{createdAt}}
      </ul>
    </div>
    <div class="card-footer">
      <strong>Total Lps.{{this.cart.totalPrice }}</strong>
    </div>
    {{/each}}
  </div>

</div>