{{!-- <div class="row mt-5">
  <div class="col-md-8 offset-2">
   
    <div class="card-header">
      Lista de Ordenes
    </div>
     {{#each products }}

    <div class="card-body">
      <ul class="list-group">

        <li class="list-group-item">
          <img src="{{this.item.imgUR}}" alt="width: 10%">
          {{ this.user.name}} | {{ this.cart.totalQty }}  Units
          <span class="bagde bagde-primary pill font-weight-bold text-white ml-auto">
            {{ this.precio }}
          </span>
        </li>

      </ul>
    </div>
     
  
    <div class="card-footer">
      <strong>${{this.cart.totalPrice }}</strong>
    </div>
   {{/each}}
  </div>

</div> --}}

<a href="/notes">Regresar</a>

<table class="table table-hover text-center">
  <thead class="thead-dark">
    <tr >
      <th scope="col">Cantidad</th>
      <th scope="col">Productos</th>
      <th scope="col">Descripcion</th>
      <th scope="col">precio</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <th scope="row">{{this.cart.totalQty}} </th>
      <td>{{ user.name }}</td>
      <td>{{ this.notes.description }}</td>
      <td>Lps.{{this.cart.totalPrice}}</td>
      <td class="p-3 mb-2 bg-primary text-white text-center">EN VENTA</td>
    </tr>
    {{/each}}
  </tbody>
</table>
