<style>
    .table-responsive {
        -sm|-md|-lg|-xl
    }
</style>
{{!-- 
<div class="col-md-6 offset-3 mt-4">
    <div class="alert alert-success {{#if noMsg}} d-none {{/if}}">
        {{success_msg}}
    </div>
</div> --}}



{{#if products }}
<h2 class="text-center text-danger">{{title}}</h2><br>
<div class="row mt-5 ">
    <div class="col-md-8 offset-md-2 table-responsive text-white">

        <table class="table table-hover table-striped border border-dark">
            <thead class="table thead-dark ">
                <tr>
                    <th class="text-center" style="width:40%">IMG</th>
                    <th style="width:40%">PRODUCTOS</th>
                    <th style="width:40%">DESCRIPCION</th>
                    <th style="width:8%">CANTIDAD</th>
                    <th style="width:22%" class="text-center">SUBTOTAL</th>
                    <th style="width:40%">ACIONES+/-/#I</th>
                </tr>
            </thead>
            <tbody>
                {{#each products }}

                <tr class="table-primary ">
                    <td><img type="file" class="card-img-top" src="{{ this.item.imgURL}}" name="image"></td>
                    <td class="text-dark">{{ this.item.title }}</td>
                    {{!-- <td>{{{this.item.description}}}</td> --}}
                    <td class="text-center text-dark">{{{this.item.description}}}</td>
                    <td class="text-center text-dark">{{ this.quantity }}</td>
                    <td class="text-center text-dark"><i class="fas fa-dollar-sign text-success"></i>.{{ this.precio }}
                    </td>
                    <td>
                        <a href="/aumentar/{{this.item._id}}" class="btn btn-outline-success btn-sm"><i
                                class="fas fa-plus"></i></a>
                        <a href="/reduce/{{this.item._id}}" class="btn btn-outline-primary btn-sm"><i
                                class="fas fa-minus"></i></a>
                        <a href="/remove/{{this.item._id}}" class="btn btn-outline-danger btn-sm"><i
                                class="fa fa-trash-o"></i></a>
                        {{!-- <a href="/remove/{{this.item._id}}" class="btn btn-outline-danger btn-sm">Vaciar Todo <i
                                class="fa fa-trash-o"></i></a> --}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-5 p-3 mb-2 bg-warning text-dark">
    <div class="col-md-8 offset-md-2 text-center ">
        <strong>Total a Pagar <i class="fas fa-dollar-sign text-success"></i>.{{ totalPrice }}.00</strong>
    </div>
</div>
{{#each products}}

{{/each}}
<hr>
<div class="row mt-5 text-center">
    <div class="col-md-6 offset-md-3">
        {{!-- <a href='#' role="button" class="btn btn-outline-success"><i class="fas fa-pager"></i>
            Pagar
        </a> --}}
        {{#if products }}
        <form action="/checkout" method="POST">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_51HcP01KSAmtvjzoazQOdic4kooqKFL1rXGOUDAball3WVj2PHKWlpJmQN0hByZEw8jJPsjHzVpEAMsArt7ZebcqL00sWmtxQ5m"
                data-amount="{{ totalPrice }}00" 
                data-name="504Venir" 
                data-description="{{this.item.title }}"
                data-image="/img/logo2.png" 
                data-locale="auto">
                </script>
            <script>
                document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
            </script>
            <button class="btn btn-outline-success btn-block">Pagar
                <i class="fas fa-pager"></i>
            </button>
        </form>
        {{/if}}










        <a href='/' role="button" class="btn btn-outline-info btn-sm"><i style="color: rgb(255, 145, 0);"
                class="fas fa-shopping-cart"></i>
            Seguir Comprando
        </a>
    </div>

</div>
{{ else }}
<div class="row mt-5">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-success text-center" role="alert">
            No ha seleccionado ningun Producto!
        </div>
        <a href='/' role="button" class="btn btn-outline-info btn-sm"><i style="color: rgb(255, 145, 0);"
                class="fas fa-shopping-cart"></i>
            Seguir Comprando
        </a>
    </div>

</div>
{{/if}}
<br>
<br>
<br>