 {{!-- <div class="row">
  {{#each users}}
  <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4 pt-3">
    <div class="card shadow p-3 mb-5 bg-white rounded card tarjeta animate__animated animate__fadeInDown">
       <img type="file" class="card-img-top " src="{{imgURL}}" name="image"> 
       <div class="card-body contenido animate__animated animate__fadeInDown">
        <h5 class="card-title d-flex justify-content-between align align-items-center">Nombre:  {{ name }} <a
            href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a></h5>Apellido: {{apellido}}<br>
            Email: {{email}}
        <p class="card-text">{{ description }}</p>
        <p class="card-text">{{format.createdAt}}</p>
        <form action="/users/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hola {{user.name}} {{user.apellido}}</h1>
      <p clsss="lead"> No tienes productos creados.</p>
      <a href="/notes/add" class="btn btn-success btn-block">Create Uno!.</a>
    </div>
  </div>

  {{/each}}
</div>  --}}

{{!-- <tbody>
    <table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
        
    </thead>
</table>
</tbody> --}}
<style>
        /* Comentarios CSS*/

        body {
            background-image: url(/img/honduras-wallpapers-1920x10800.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            margin: 0;

        }

    </style>
<main role="main" class="container-fliud">
<h1>Usuarios Registrados</h1>
<div class="row">
   <td><form action="/users/signup" method="POST">
       <a href="/users/newUser"><i class="fas fa-plus"></i> Agregar Nuevo Usuario</a>
      </form></td><br><br>
  <table class="table table-striped">
  <thead>
    
    <tr>
      {{!-- <th scope="col">N°</th> --}}
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Correo</th>
      {{!-- <th scope="col">Contraseña</th>   --}}
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      {{!-- <th scope="row">1++</th> --}}
      <td>{{name}}</td>
      <td>{{apellido}}</td>
      <td>{{email}}</td>
      {{!-- <td>{{password}}</td> --}}
      <td><form action="/users/delete/{{_id}}?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
      </form></td>
      <td><a href="/users/editeUser/{{_id}}"><i class="fas fa-edit"></i></a></td>
    </tr>
    {{/each}}
    {{!-- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr> --}}
  </tbody>
</table>

  
</div>
</main>