 <style>
        /* Comentarios CSS*/

        body {
            background-image: url(/img/honduras-wallpapers-1920x1080.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            margin: 0;

        }

    </style>
{{#each errors}}
<div class="alert alert-danger alert-dimissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dimiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}

<div class="col-md-5 mx-auto p-5">
    <div class="card card shadow p-3 mb-5 bg-white">
        <div class="card-header">
            <h3>Editar Usuario</h3>
        </div>
        <div class="card-body">

            <form action="/users/editeUserPerfil/{{users._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="PUT">

                <div class="custom-file">
                                <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                                <label class="custom-file-label" for="inputGroupFile02"
                                    aria-describedby="inputGroupFileAddon02">Subir imagen</label>
                            </div>

                <div class="form-group">
                    <h5>Nombre: </h5>
                    <input type="text" name="name" class="form-control" value="{{users.name}}" />
                </div>
                <div class="form-group">
                    <h5>Apellido: </h5>
                    <input type="text" name="apellido" class="form-control" value="{{users.apellido}}" />
                </div>
                <div class="form-group">
                    <h5>Email: </h5>
                    <input type="text" name="email" class="form-control" value="{{users.email}}" />
                </div>
                <div>
                    <a href="/users/correoPass/{{users._id}}">Cambiar Contraseña</a>
                </div>
                
                {{!-- <div class="form-group">
                    <h5>Contraseña: </h5>
                    <input type="password" name="password" class="form-control" value="{{users.password}}" />
                </div>
                <div class="form-group">
                    <h5>Confirmar Contraseña: </h5>
                    <input type="password" name="confirm_password" class="form-control" value="{{users.password}}" />
                </div> --}}

                {{!-- <div class="input-group mb-3">
                    <div class="custom-file">
                        
                        <input name="image" type="file" class="form-control-file" id="exampleFormControlFile1" placeholder="">
                        <label for="exampleFormControlFile1"></label>{{user.path}}
                    </div>  --}}
                </div>

                {{!-- <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon02">Subir imagen</label>
                    </div>
                </div> --}}

                {{!-- <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input name="precio" placeholder="Agregar Precio" type="text" class="form-control"
                        aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text">{{users.apellido}}</span>
                    </div>
                </div> --}}




{{!-- 
                <div class="form-group">
                    <textarea name="description" class="form-control">{{users.email}}</textarea>
                </div> --}}

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Guardar
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>